apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: cloudlab-monitoring
  labels:
    app: grafana
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - name: web
      port: 3000
      targetPort: web
      protocol: TCP
