apiVersion: v1
kind: Service
metadata:
  name: nodejs-app
  namespace: cloudlab-apps
  labels:
    app: nodejs-app
    tier: frontend
spec:
  type: ClusterIP
  selector:
    app: nodejs-app
  ports:
    - name: http
      port: 3001
      targetPort: http
      protocol: TCP
  sessionAffinity: None
