apiVersion: v1
kind: Service
metadata:
  name: python-app
  namespace: cloudlab-apps
  labels:
    app: python-app
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: python-app
  ports:
    - name: http
      port: 5000
      targetPort: http
      protocol: TCP
  sessionAffinity: None
